<%# Identificador único de cada fila, útil en los tests. %>
<div class="row" id=<%= "user-#{user.id}" %>>
  <div class="col">
    <%= user.email %>
  </div>

  <div class="col">
    <%= user.nombre %>
  </div>

  <% User.roles.values.each do |rol| %>
    <%# Impedir quitarse a unx mismx el rol de administración. %>
    <% disabled = rol == :administracion && user == current_user %>

    <div class="col"
      data-controller="roles" data-roles-url-value="<%= roles_user_path(user) %>">

      <%= check_box_tag "roles[#{rol}]", '1', user.roles.include?(rol),
        title: rol.text, disabled: disabled,
        data: { action: 'roles#update', roles_target: 'checkbox' } %>
    </div>
  <% end %>

  <div class="col">
    <%= link_to 'Show', user %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: t('confirmacion') } %>
  </div>
</div>
