<% content_for(:titulo_de_pagina) { @user.nombre } %>

<%= render 'shared/botonera' do %>
  <%= link_to t('edit', modelo: User.model_name.human), edit_user_path(@user),
    class: 'btn btn-outline-warning' %>
<% end %>

<div class="usuarie">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <% if @user.unconfirmed_email? %>
    <p>
      <strong>Nuevo email (todavía sin confirmar):</strong>
      <%= @user.unconfirmed_email %>
    </p>
  <% end %>

  <p>
    <strong>Nombre:</strong>
    <%= @user.nombre %>
  </p>

  <p>
    <strong>Roles:</strong>
    <%= @user.roles.map(&:text).join(', ') %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
