<%# Barra de navegación general. %>
<header class="navbar navbar-dark bg-dark fixed-top navbar-expand-md justify-content-between">
  <div>
    <div class="navbar-brand">
      <%= link_to Setting.url do %>
        <%= Setting.nombre_de_app %>
      <% end %>
    </div>

    <span class="title">
      <div class="navbar-text"><%= titulo_de_pagina %></div>
    </span>
  </div>

  <div>
    <%# Botón para colapsar el panel offcanvas en pantallas chiquitas. %>
    <button
      class="navbar-toggler navbar-toggler-right" type="button"
      data-toggle="collapse" data-target=".navbar-collapse">

      <span class="navbar-toggler-icon"></span>
    </button>

    <%# Se convierte en un panel offcanvas en pantallas chiquitas. %>
    <div class="collapse navbar-collapse panel-offcanvas">
      <%# Menú de navegación. %>
      <%# TODO, mover el chequeo de usuarie logueade acá? %>
      <div class="navbar-nav">
        <%= render 'layouts/menu' %>
      </div>

      <div class="dropdown-divider"></div>

      <%# Menú de sesión (con íconos). %>
      <div class="navbar-nav">
        <%# Entrar/Salir. %>
        <%= render 'devise/menu/session_link' %>
      </div>
    </div>
  </div>
</header>
