<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= titulo_de_app %></title>

    <%# Requerido por bootstrap. %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# Es más simple manejar las fuentes con webpacker que con sprockets. %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container-fluid text-dark">
      <%= render 'layouts/notificaciones' %>

      <%= yield %>
    </div>
  </body>
</html>
